@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    /* --thumb-size: 200px; */
  }
}

body {
  background: black;
}

/* CSS */
/* Set the track (the bar) to gray */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: white; /* Set the track color */
  outline: none;
}

/* Set the thumb (the small ball) to white and adjust its size */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 12px; /* Set the width of the thumb */
  height: 12px; /* Set the height of the thumb */
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

/* Set styles for the input element when it is focused */
input[type="range"]:focus {
  outline: none;
}
